/*#ChatUsers {
    border-right-style: solid;
    border-right-color: #808080;
    border-right-width: 2px;
}

*/

.messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 84vh; /* Adjust as needed */
}

    .messages-container::-webkit-scrollbar {
        width: 10px;
    }
    .messages-container::-webkit-scrollbar-track {
        background: white;
    }

    .messages-container::-webkit-scrollbar-thumb {
        background: #cecece;
        border-radius: 5px;
    }
        .messages-container::-webkit-scrollbar-thumb:hover {
            background: #757575;
        }



.message {
    max-width: 90%;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 18px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
}

.our-message {
    align-self: flex-end;
    background-color: #2eb4ea;
    border-bottom-right-radius: 3px;
    color: white;
}

.someones-message {
    align-self: flex-start;
    background-color: #cecece;
    border-bottom-left-radius: 3px;
}


.chat-container {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: solid;
    border-color: #636363;
    border-width: 2px;
}

.chat-message {
    padding: 20px 24px;
    border-bottom: 1px solid #f0f0f0;
}

@media only screen and (max-width: 800px) {
    .chat-container {
        border-radius: 50%;
        
    }
    .online-status, .offline-status {
        visibility: hidden;
    }
    .online-status .status-dot {
        visibility: visible;
    }
    .chat-container .timestamp {
        visibility: hidden;
    }
    .chat-container .user-name {
        font-size: 12px;
    }
    .chat-container .message-text {
        visibility: hidden;
        display: none;
    }
    .messages-container {
        max-height: 75vh; /* Adjust as needed */
    }
    .chat-message {
        padding: 17px 19px;
    }
}

@media only screen and (max-width: 1300px) {
    .chat-container .timestamp {
        visibility: hidden;
    }
}




.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    color: #212529;
    margin-right: 10px;
}

.online-status {
    display: flex;
    align-items: center;
    color: #16ff32;
    font-size: 16px;
}

.status-dot {
    width: 10px;
    height: 10px;
    background-color: #16ff32;
    border-radius: 50%;
    margin-right: 5px;
}

.offline-status {
    display: flex;
    align-items: center;
    color: #808080;
    font-size: 16px;
}

.status-dot-offline {
    width: 10px;
    height: 10px;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 5px;
}

.message-text {
    color: #6c757d;
    font-size: 16px;
}

.timestamp {
    position: absolute;
    top: 20px;
    right: 24px;
    color: #adb5bd;
    font-size: 14px;
}

.chat-input {
    margin-top: auto;
    padding: 7px;
    max-height: 7vh;
    
}

    .chat-input .input-group {
        overflow: hidden;
        border: 2px solid #2e99ea;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        background-color: #2e99ea;
    }

    .chat-input .form-control {
        border: none;
        padding: 12px 20px;
        font-size: 15px;
        background-color: white;
    }

        .chat-input .form-control:focus {
            box-shadow: none;
            border-color: transparent;
        }

    .chat-input .btn {
        border-radius: 0;
        background-color: #2e99ea;
        border: none;
        color: white;
        padding: 0 20px;
        transition: background-color 0.2s;
    }

        .chat-input .btn:hover {
            background-color: #073446;
        }

        .chat-input .btn:active {
            background-color: #05232e;
        }
