@page "/login"
@rendermode InteractiveServer
@using ChatBlazor.Models
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using ChatBlazor.Contexts

@inject SignInManager<IdentityUser> SignInManager


@inject HttpClient HttpClient
@inject NavigationManager NavigationManager



<h3>Login</h3>

<div class="row">
    <input placeholder="E-mail" @bind="loginModel.Email" />
    <input type="password" placeholder="Password" @bind="loginModel.Password" /><br />
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}


@code {
    private LoginModel loginModel = new();
    private string errorMessage = string.Empty;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {

        }
    }



    private async Task LoginUser()
    {

    }
    public class LoginResult
    {
        public string Token { get; set; }
    }
}