@using ChatBlazor.Models
<h3>Register</h3>

@* todo front end and bind to registerModel *@


@code {
    private RegisterModel registerModel = new();


    private async Task RegisterUser() {
        //todo using the identity.net and ef.net
    }



}
